@model UE_GPA.Models.StudentMark


<h2>GPA of @Model.StudentName</h2>

<p>Your GPA is: <strong>@Model.GPA</strong></p>

<a href="/StudentMarks/Create" style="text-decoration:none " class="text-white">
    <button type="submit" class="again">
    Calculate Again</a>

    </button>
